<ion-view title="My Calendar" id="page8" data-tap-disabled="true">
    <ion-content padding="true" class="has-header">
        <div id="myCalendar2-button-bar3" class="button-bar">
            <a ui-sref="menu.myCalendar" id="myCalendar2-button12" class="button button-positive  button-block">Month</a>
            <button id="myCalendar2-button13" class="button button-stable  button-block">Week</button>
        </div>
        <div class="item item-body" id="myCalendar2-list-item-container7">
            <ion-list id="myCalendar2-list23">
                <label class="item item-select" id="myCalendar2-select4">
                    <span class="input-label">Month</span>
                    <select>
                        <option>October</option>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>Nobember</option>
                    </select>
                </label>
                <ion-item class="item-divider" id="myCalendar2-list-item-divider12">October - 1/10</ion-item>
            </ion-list>
            <ion-list id="myCalendar2-list34">
                <ion-item class="item-icon-right" id="myCalendar2-list-item9" ng-tap="gotocooking()" ng-click="gotocooking()">Mon 3 - Introduction
                    <i class="icon ion-android-arrow-dropright"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="myCalendar2-list-item10" ng-tap="gotocooking()" ng-click="gotocooking()">Tue 4 - Simple Cake
                    <i class="icon ion-android-arrow-dropright"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="myCalendar2-list-item22" ng-tap="gotocooking()" ng-click="gotocooking()">Fri 7 - Icecream Sandwich
                    <i class="icon ion-android-arrow-dropright"></i>
                </ion-item>
            </ion-list>
            <ion-list id="myCalendar2-list28">
                <ion-item class="item-divider" id="myCalendar2-list-item-divider17">October - 8/10</ion-item>
            </ion-list>
            <ion-list id="myCalendar2-list29">
                <ion-item class="item-divider" id="myCalendar2-list-item-divider18">October - 15/10</ion-item>
            </ion-list>
            <ion-list id="myCalendar2-list30">
                <ion-item class="item-divider" id="myCalendar2-list-item-divider19">October - 22/10</ion-item>
            </ion-list>
            <ion-list id="myCalendar2-list31">
                <ion-item class="item-divider" id="myCalendar2-list-item-divider20">October - 29/10</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>