<ion-view title="Course of Cooking" id="page9" style="background-color:#91B4E2;">
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div class="list card" id="courseOfCooking-card24">
            <ion-item class="item-avatar" id="courseOfCooking-list-item27">
                <h2>Professor: Mr.Chef</h2>
            </ion-item>
            <div class=" item item-image">
                <img src="img/vAhLQV2QWuNgSET0yqRg_Cooking-Class.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left item-icon-right  bar bar-header bar-positive" id="courseOfCooking-list-item38">
                <i class="icon ion-android-contacts"></i>
                <b>Students 5</b>
                <i class="icon ion-android-arrow-dropup"></i>
            </ion-item>
            <ion-item class="item-avatar calm" id="courseOfCooking-list-item43">
                <h2calm>John Smith</h2calm>
            </ion-item>
            <ion-item class="item-avatar calm" id="courseOfCooking-list-item45">
                <h2calm>Mr. Scott</h2calm>
            </ion-item>
            <ion-item class="item-avatar calm" id="courseOfCooking-list-item46">
                <h2calm>Mary Weiss</h2calm>
            </ion-item>
            <ion-item class="item-avatar calm" id="courseOfCooking-list-item47">
                <h2calm>Jane Brown</h2calm>
            </ion-item>
            <ion-item class="item-avatar calm" id="courseOfCooking-list-item48">
                <h2calm>George Stefan Swift</h2calm>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right dark  bar bar-header bar-positive" id="courseOfCooking-list-item40">
                <i class="icon ion-information"></i>
                <b>Information</b>
                <i class="icon ion-android-arrow-dropup"></i>
            </ion-item>
            <ion-item class="item-icon-left calm" id="courseOfCooking-list-item41">
                <i class="icon ion-social-usd"></i>Cost: $20</ion-item>
            <ion-item class="item-icon-left calm" id="courseOfCooking-list-item42">
                <i class="icon ion-android-star-half"></i>Rating: 20</ion-item>
            <ion-item class="item-icon-left calm" id="courseOfCooking-list-item49">
                <i class="icon ion-android-people"></i>Attendance: 5</ion-item>
            <ion-item class="item-icon-left item-icon-right  bar bar-header bar-positive" id="courseOfCooking-list-item39" ui-sref="menu.myCalendar2">
                <i class="icon ion-android-calendar"></i>Calendar
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  bar bar-header bar-positive" id="courseOfCooking-list-item37">
                <i class="icon ion-bookmark"></i>Content
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>