<ion-view title="Course of Cooking" id="page14" style="background-color:#91B4E2;">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="courseOfCooking2-card25">
            <ion-item class="item-avatar" id="courseOfCooking2-list-item62">
                <h2>Professor: Mr.Chef</h2>
            </ion-item>
            <div class=" item item-image">
                <img src="img/vAhLQV2QWuNgSET0yqRg_Cooking-Class.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left item-icon-right dark  bar bar-header bar-positive" id="courseOfCooking2-list-item77">
                <i class="icon ion-information"></i>Trainer Information
                <i class="icon ion-android-arrow-dropup"></i>
            </ion-item>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <div id="courseOfCooking2-markdown35" style="color:#000000;text-align:center;" class="active">
                <p>Hi, I'm Mr. John Chef.</p>

                <p>I was born in California, US and I made my studies in the University of Gastronomic Sciences of Italy...</p>
            </div>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <ion-item id="courseOfCooking2-list-item79">Name: John Chef</ion-item>
            <ion-item id="courseOfCooking2-list-item80">Age: 20 Years old</ion-item>
            <ion-item id="courseOfCooking2-list-item81">Email: jchef@gmail.com</ion-item>
            <ion-item class="item-icon-left item-icon-right dark  bar bar-header bar-positive" id="courseOfCooking2-list-item71">
                <i class="icon ion-information"></i>Information
                <i class="icon ion-android-arrow-dropup"></i>
            </ion-item>
            <ion-item class="item-icon-left calm" id="courseOfCooking2-list-item78">
                <i class="icon ion-android-star-half"></i>My Rating: 10</ion-item>
            <ion-item class="item-icon-left calm" id="courseOfCooking2-list-item74">
                <i class="icon ion-android-people"></i>My Attendance: 5%</ion-item>
            <ion-item class="item-icon-left item-icon-right  bar bar-header bar-positive" id="courseOfCooking2-list-item63">
                <i class="icon ion-bookmark"></i>Content
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  bar bar-header bar-positive" id="courseOfCooking2-list-item70" ui-sref="menu.myCalendar2">
                <i class="icon ion-android-calendar"></i>Calendar
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  bar bar-header bar-positive" id="courseOfCooking2-list-item75" ui-sref="menu.myCalendar2">
                <i class="icon ion-edit"></i>Notes
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>