<ion-view title="My Calendar" id="page2">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="myCalendar-list-item-container6">
            <div id="myCalendar-button-bar5" class="button-bar">
                <button id="myCalendar-button19" class="button button-stable  button-block">Month</button>
                <button id="myCalendar-button25" class="button button-positive  button-block">Week</button>
            </div>
            <ion-list id="myCalendar-list44">
                <ion-item class="item-divider bar bar-header bar-stable" id="myCalendar-list-item-divider1">January</ion-item>
            </ion-list>
            <div id="myCalendar-markdown3" style="margin-top:0px;color:#000000;">
                <p>Course 2 - Basketball</p>
            </div>
            <div>
                <hr>
            </div>
            <div id="myCalendar-markdown2" style="margin-top:0px;color:#000000;">
                <p>Course 1 - Painting Course</p>
            </div>
            <ion-list id="myCalendar-list13">
                <ion-item class="item-divider bar bar-header bar-stable" id="myCalendar-list-item-divider2">February</ion-item>
            </ion-list>
            <ion-list id="myCalendar-list14">
                <ion-item class="item-divider bar bar-header bar-stable" id="myCalendar-list-item-divider3">March</ion-item>
            </ion-list>
            <div id="myCalendar-markdown4" style="margin-top:0px;color:#000000;font-size:1px;">
                <p>March Course</p>
            </div>
            <ion-list id="myCalendar-list15">
                <ion-item class="item-divider bar bar-header bar-stable" id="myCalendar-list-item-divider4">April</ion-item>
            </ion-list>
            <div id="myCalendar-markdown5" style="margin-top:0px;color:#000000;">
                <p>April Course</p>
            </div>
            <ion-list id="myCalendar-list16">
                <ion-item class="item-divider" id="myCalendar-list-item-divider5">May</ion-item>
            </ion-list>
            <div id="myCalendar-markdown11" style="margin-top:0px;color:#000000;">
                <p>Course ABC - Getting start</p>
            </div>
            <ion-list id="myCalendar-list17">
                <ion-item class="item-divider" id="myCalendar-list-item-divider6">June</ion-item>
            </ion-list>
            <div id="myCalendar-markdown6" style="margin-top:0px;color:#2EDD51;">
                <p>Films and Art</p>
            </div>
            <ion-list id="myCalendar-list18">
                <ion-item class="item-divider" id="myCalendar-list-item-divider7">July</ion-item>
            </ion-list>
            <div id="myCalendar-markdown7" style="margin-top:0px;color:#000000;">
                <p>How to make a cake</p>
            </div>
            <div>
                <hr>
            </div>
            <div id="myCalendar-markdown14" style="margin-top:0px;color:#AF0000;">
                <p>Films and Art</p>
            </div>
            <ion-list id="myCalendar-list19">
                <ion-item class="item-divider" id="myCalendar-list-item-divider8">August</ion-item>
            </ion-list>
            <div id="myCalendar-markdown16" style="margin-top:0px;color:#000000;">
                <p>Films and Art</p>
            </div>
            <div>
                <hr>
            </div>
            <div>
                <hr>
            </div>
            <div id="myCalendar-markdown8" style="margin-top:0px;color:#000000;">
                <p>Course of cooking</p>
            </div>
            <ion-list id="myCalendar-list20">
                <ion-item class="item-divider bar bar-header bar-positive" id="myCalendar-list-item-divider9">October</ion-item>
            </ion-list>
            <div id="myCalendar-markdown9" style="margin-top:0px;color:#000000;">
                <p>Course of cooking</p>
            </div>
            <ion-list id="myCalendar-list21">
                <ion-item class="item-divider" id="myCalendar-list-item-divider10">November</ion-item>
            </ion-list>
            <div id="myCalendar-markdown10" style="margin-top:0px;color:#000000;">
                <p>Course of singing</p>
            </div>
            <ion-list id="myCalendar-list22">
                <ion-item class="item-divider" id="myCalendar-list-item-divider11">December</ion-item>
            </ion-list>
            <div id="myCalendar-markdown12" style="margin-top:0px;color:#000000;">
                <p>Christmas letters - 6 to 9 years old</p>
            </div>
            <div id="myCalendar-markdown15" style="margin-top:0px;color:#000000;">
                <p>Films and Art</p>
            </div>
        </div>
        <div id="myCalendar-button-bar2" class="button-bar">
            <button id="myCalendar-button9" class="button button-stable  button-block">Month</button>
            <a ui-sref="menu.myCalendar2" id="myCalendar-button10" class="button button-positive  button-block">Week</a>
        </div>
    </ion-content>
</ion-view>