<ion-view title="My Programs" hide-back-button="true" id="page1">
    <ion-content padding="true" class="has-header">
        <ion-list id="myPrograms-list3">
            <ion-toggle toggle-class="toggle-energized" id="myPrograms-toggle1">Due / Completed</ion-toggle>
            <label class="item item-select" id="myPrograms-select2">
                <span class="input-label">Time</span>
                <select>
                    <option>1 Month</option>
                    <option>5 Month</option>
                    <option>Last Year</option>
                    <option>All the Time</option>
                </select>
            </label>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <ion-list id="myPrograms-list4">
            <ion-item class="item-thumbnail-left item-icon-right" id="myPrograms-list-item4" ui-sref="menu.courseOfCooking">
                <img src="img/JnDvRUluRiGqOPyIRQNV_Cooking-Class.jpg">
                <h2>Cooking Course</h2>
                <i class="icon ion-android-alert"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="myPrograms-list-item50">
                <img src="img/lstQpYbpQseU8HYhBQYB_45a5f815ab0e597fec5d2371b560ed98.png">
                <h2>Signing Course</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="myPrograms-list-item52">
                <img src="img/jCBvBWqxSvWwaRrz1OpA_images.jpg">
                <h2>Painting Course</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="myPrograms-list-item53">
                <img src="img/zuG6CO58Ris8fSpt8FgD_download.jpg">
                <h2>Basketball</h2>
            </ion-item>
        </ion-list>
        <button id="myPrograms-button23" class="button button-positive  button-block">Load More...</button>
    </ion-content>
</ion-view>