<ion-view title="My Programs" hide-back-button="true" id="page13">
    <ion-content padding="true" class="has-header">
        <ion-list id="myPrograms3-list40">
            <ion-toggle toggle-class="toggle-energized" id="myPrograms3-toggle4">Due / Completed</ion-toggle>
            <label class="item item-select" id="myPrograms3-select5">
                <span class="input-label">Time</span>
                <select>
                    <option>1 Month</option>
                    <option>5 Month</option>
                    <option>Last Year</option>
                    <option>All the Time</option>
                </select>
            </label>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <div id="myPrograms3-container9">
            <ion-list id="myPrograms3-list43">
                <ion-item class="item-thumbnail-left item-icon-right positive" id="myPrograms3-list-item55" ui-sref="menu.courseOfCooking2">
                    <img src="img/JnDvRUluRiGqOPyIRQNV_Cooking-Class.jpg">
                    <h2positive>Cooking Course
                        <i class="icon ion-android-alarm-clock"></i>
                    </h2positive>
                </ion-item>
                <ion-item class="item-thumbnail-left dark  active" id="myPrograms3-list-item60">
                    <img src="img/MR3Q2ljqRmO3e0r1L3F5_4599440845.jpg">
                    <h2dark>Makeup Couse</h2dark>
                </ion-item>
                <ion-item class="item-thumbnail-left dark  active" id="myPrograms3-list-item61">
                    <img src="img/FxHdKIXmQMqcbekEmUM9_download1.jpg">
                    <h2dark>Computer Couse</h2dark>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>